* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

div.message {
    padding: 30px 30px;
    width: 40%;
    min-width: 200px;
    border-radius: 10px;
    background: #e7eaec;
    opacity: 0.6;
    h3.message {
        font-size: 3rem;
    }
}


.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}