* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}
div.content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;
  width: 600px;
}

div.message {
    padding: 30px 30px;
    min-width: 200px;
    border-radius: 10px 0px 0px 0px;
    h3.message {
        font-size: 3rem;
    }
}

div.audio-in {
  padding: 30px 30px;
  border-radius: 0px 10px 0px 0px;
  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
  }
  audio#echo-audio {
    width: 100%;
    height: 40px;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: medium;
    background: #0ac564;
    color: white;
    cursor: pointer;
    width: 100%;
  }
  .stop-recording {
    background: #f44336 !important;
    color: white;
  }
}

div.model {
  padding: 30px 30px;
  border-radius: 0px 0px 10px 10px;
  grid-column: 1 / -1;
  display: grid;
  textarea {
    padding: 10px;
    height: 150px;
    resize: none;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    padding: 5px 0px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: medium;
    background: #3F5EFB;
    color: white;
    cursor: pointer;
  }
  #audio-player {
    width: 100%;
    margin-top: 30px;
    display: none;
  }
}















/* .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */
.glass {
  background: #e7eaec;
  opacity: 0.6;
}






















.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}