# Git files
.git
.gitignore

# Env files
.env

# Docker
Dockerfile
.Dockerfile
.dockerignore

# IDE
.idea/
.vscode/

# filepath: e:\Lrnn\Self\30-Days-Murf\.dockerignore
__pycache__/
*.pyc
.git
.vscode