* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: #5a5a5a;
	color: #fff;
}

// <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.font-inconsolata {
	font-family: "Inconsolata", monospace;
	font-optical-sizing: auto;
	// font-weight: 200;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
